@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #222222;
  }
}

@media only screen and (max-width: 1120px) {
  html {
    zoom: 0.75;
  }
}

@media only screen and (max-width: 1080px) {
  html {
    zoom: 0.9;
  }
}
